@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "MainTitle";
  src: url("../../fonts/Banny-BoldRound.woff");
}
@font-face {
  font-family: "Title";
  src: url("../../fonts/Banny-Round.woff");
}
span,
p,
a,
button,
details {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "MainTitle";
  font-size: calc(60px + 2.8125vw);
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-family: "MainTitle";
  text-transform: uppercase;
  font-size: calc(25px + 0.859375vw);
}

hr {
  width: 8%;
  margin: 0 auto;
  border: 3px solid #E8C300;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
form input, form textarea {
  background: #E5E5E5;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  padding: 15px 10px;
  outline: none;
  width: 45%;
}
form input:focus, form textarea:focus {
  border-color: #E8C300;
}

button {
  padding: 15px 45px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: none;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
button:hover {
  background: #E8C300;
  border: transparent;
  transition: 0.5s;
}

.title {
  letter-spacing: 0.5em;
  color: #fff;
  text-transform: uppercase;
}

.img-container {
  max-width: 100%;
  height: auto;
  display: block;
}
.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.svg-social {
  fill: #fff;
}

.text {
  text-align: center;
  width: 50%;
  font-size: calc(14px + 0.3125vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.img__content {
  filter: drop-shadow(0px 0px 50px #000000);
}

.img__wrapper {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.img__wrapper-item {
  width: 25%;
}

.map {
  width: 100%;
  height: 50vh;
  background-image: url("../../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 935px) {
  .img__wrapper {
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  form input, form select, form textarea {
    width: 100%;
  }
  button {
    padding: 10px 25px;
  }
}
.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #E8C300;
}
.burger__list {
  display: none;
}

.open {
  display: flex !important;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #E8C300;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.burger__hide {
  display: none;
}

@media (max-width: 935px) {
  .burger {
    display: flex;
  }
  .burger__nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    background-color: rgba(232, 193, 0, 0.1568627451);
    animation: burgerAnimation 0.4s;
  }
  .burger__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #E8C300;
    border-radius: 1rem;
    width: 50%;
    padding: 10px;
  }
  .burger__nav-list a {
    font-weight: 700;
    color: #fff;
    cursor: pointer;
  }
  .burger__nav-list a:hover {
    opacity: 0.3;
    transition: 0.5s;
  }
  .burger__nav-list details {
    font-weight: 700;
    color: #fff;
    cursor: pointer;
  }
  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
.header {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
  width: 100%;
  padding-top: 25px;
}
.header__logo {
  width: 10%;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
}
.header__nav-list a {
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.header__nav-list a:hover {
  opacity: 0.3;
  transition: 0.5s;
}

@media screen and (max-width: 935px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .header__nav {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .header__logo {
    width: 15%;
  }
}
.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #E8C300;
}
.burger__list {
  display: none;
}

.open {
  display: flex !important;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #E8C300;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.burger__hide {
  display: none;
}

@media (max-width: 935px) {
  .burger {
    display: flex;
  }
  .burger__nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    background-color: rgba(232, 193, 0, 0.1568627451);
    animation: burgerAnimation 0.4s;
  }
  .burger__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #E8C300;
    border-radius: 1rem;
    width: 50%;
    padding: 10px;
  }
  .burger__nav-list a {
    font-weight: 700;
    color: #fff;
    cursor: pointer;
  }
  .burger__nav-list a:hover {
    opacity: 0.3;
    transition: 0.5s;
  }
  .burger__nav-list details {
    font-weight: 700;
    color: #fff;
    cursor: pointer;
  }
  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
.hero-page {
  position: relative;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.hero-page__text {
  writing-mode: vertical-rl;
  rotate: 180deg;
  color: #fff;
  font-weight: 700;
}
.hero-page__main {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}
.hero-page__main-title {
  text-align: center;
}
.hero-page__main-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.hero-page__main-btn button {
  width: 200px;
}
.hero-page__social-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.hero-page__social-list li {
  padding: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2705882353);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-page__social-list li:hover {
  opacity: 0.5;
  transition: 0.5s;
}

@media screen and (max-width: 935px) {
  .hero-page__text, .hero-page__social {
    display: none;
  }
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
  width: 100%;
  padding: 5% 0;
}
.about__img {
  width: 40%;
}
.about__img-container {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 800px) {
  .about {
    flex-direction: column;
    gap: 2rem;
  }
  .about__text {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .about__img {
    width: 70%;
  }
}
.specialists {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/specialists-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  gap: 3.125rem;
  color: #fff;
}
.specialists__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.specialists__content-img {
  width: 40%;
}
.specialists__content-text p {
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .specialists__content {
    flex-direction: column;
  }
  .specialists__content-text {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .specialists__content-img {
    width: 70%;
  }
}
.booking {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.booking__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.booking__content-img {
  width: 40%;
}
.booking__content-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  gap: 20px;
}
.booking__content-form button {
  background: #E8C300;
  border: transparent;
}
.booking__info {
  color: rgba(51, 51, 51, 0.5019607843);
}

@media screen and (max-width: 800px) {
  .booking {
    text-align: center;
  }
  .booking__content-img {
    display: none;
  }
  .booking__info span {
    font-size: calc(7px + 0.390625vw);
    padding: 5px;
  }
}
@media screen and (max-width: 426px) {
  .booking__content-form {
    width: 80%;
  }
}
.galerie {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/galerie-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  gap: 3.125rem;
  color: #fff;
}
.galerie__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.galerie__content-img {
  width: 40%;
}
.galerie__content-text p {
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .galerie__content {
    flex-direction: column;
  }
  .galerie__content-text {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .galerie__content-img {
    width: 70%;
  }
}
.menu {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3.125rem;
}
.menu__sort {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.menu__sort-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.menu__sort-list li {
  padding: 10px 25px;
  border-right: 1px solid rgba(51, 51, 51, 0.5019607843);
}
.menu__sort-list li:nth-child(7) {
  border-right: none;
}
.menu__position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.menu__position-item .menu__list-item li {
  font-family: "MainTitle";
  font-weight: 700;
  font-size: calc(14px + 0.3125vw);
  line-height: 18px;
  padding-bottom: 20px;
}
.menu__position-item .menu__list-item span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5019607843);
}

@media screen and (max-width: 1140px) {
  .menu__position {
    line-height: 10px;
    width: 100%;
  }
  .menu__position-item {
    width: 90%;
  }
  .menu__position-item:nth-child(odd) {
    display: none;
  }
  .menu__position .menu__list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .menu__position .menu__list-item li {
    padding: 10px;
  }
}
@media screen and (max-width: 740px) {
  .menu__text {
    width: 80%;
  }
  .menu__list-item li:nth-child(odd) {
    display: none;
  }
}
.events {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/galerie-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  gap: 3.125rem;
  color: #fff;
}
.events__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.events__content-img {
  width: 50%;
}
.events__info {
  opacity: 0.7;
}

@media screen and (max-width: 1100px) {
  .events__info {
    text-align: center;
  }
  .events__info span {
    font-size: calc(7px + 0.390625vw);
    padding: 5px;
  }
}
@media screen and (max-width: 550px) {
  .events__content {
    flex-direction: column;
    align-items: center;
  }
  .events__content-img {
    width: 70%;
  }
}
.contact {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3.125rem;
}
.contact__container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.contact__container-form input {
  width: 25%;
}
.contact__container-form textarea {
  width: 80%;
  resize: none;
}
.contact__container-form button {
  background-color: #E8C300;
}
.contact__container-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.contact__container-item .list__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  color: rgba(51, 51, 51, 0.5019607843);
}

@media screen and (max-width: 935px) {
  .contact__text {
    width: 90%;
  }
  .contact__container-form textarea {
    width: 83%;
  }
  .contact__container-item .list__item {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .contact__container-form {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .contact__container-form input,
  .contact__container-form textarea {
    width: 90%;
  }
}
footer {
  padding: 3.125rem;
  background-color: #000;
  text-align: center;
}
footer span {
  color: #fff;
  opacity: 0.7;
}