// Fonts

$h1size: calc(60px + 36 * (100vw / 1280));
$h2size:  calc(25px + 11 * (100vw / 1280));
$fssize: calc(14px + 4 * (100vw / 1280));
$fstitle: calc(14px + 8 * (100vw / 1280));
$tt: uppercase;
$fwbold: 700;
$fwreg: 400;
$ls: 0.5em;

// Colors

$white: #fff;
$yellow: #E8C300;
$burger: #e8c10028;
$gray: #33333380;
$colorinp: #E5E5E5;
$gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));