.galerie {
    width: 100%;
    padding: 5% 0;
    @include flexbox($dir: column, $jc: center, $ai: center);
    background-image: $gradient, url("../../img/galerie-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    gap: 3.125rem;
    color: $white;
    
    &__content{
        @include flexbox($jc: space-evenly, $ai: center);
        &-img {
            width: 40%;
        }
        &-text{
            p{
                opacity: .7;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .galerie{
        &__content{
            flex-direction: column;
            &-text{
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .galerie{
        &__content{
            &-img {
                width: 70%;
            }
        }
    }
}

